<div class='card'>
  <div class='card-header'>
    Page Title + Item . Bezeichnung
  </div>

  <div><b>ID:</b> Item . ID</div>
  <div>
    <img src="Item Image" alt="Image fehlt noch" width='70'
         margin='70'>
  </div>
  <div><b>Produktbezeichnung:</b> Item . Name</div>
  <div><b>Gebucht von:</b> KW 13 </div>
  <div><b>Gebucht bis:</b> KW 14 </div>
  <div><b>Verfügbarkeit</b> verfügbar </div>
  <div><b>Nutzer/in</b> Patrick </div>

  <div class="pt-1 mb-4">
    <button class="btn btn-dark btn-lg btn-block" type="button" [routerLink]="['/items']">Zurück</button>
  </div>
  

  <div class='card-footer'>

  </div>
</div>
